.nav{
    width: 100%;
    &_logo{
        display: flex;
        align-items: center;
        padding-left: 50px;
        img {
            max-width: 83px;
            height: 71px; // Adjust as needed
            height: auto;
        }
    }
    &_links{
        position: relative;
        left: 3%;
        gap: 50px;
        display: flex;
        list-style: none;
        li {
            a {
                text-decoration: none;

                color: #000000; // Dark text color for links
                font-size: 20px;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    background: linear-gradient(90deg, #2A4FF6 0%, #A020F0 40%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;color: #007bff; // Hover color (Bootstrap primary color)
                }
            }
        }
    }
    &_login{
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        background: linear-gradient(90deg, #2A4FF6 0%, #A020F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width: 120px;
        height: 48px;
        padding: 8px 16px;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        &:hover {
            background: linear-gradient(90deg, #2A4FF6 0%, #A020F0 100%);
            color: transparent;
            -webkit-background-clip: border-box;
            background-clip: border-box;
            -webkit-text-fill-color: #fff;
        }
    }
    &_signup{
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        background: linear-gradient(90deg, #2A4FF6 0%, #A020F0 100%);
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 16px;
        height: 48px;
        cursor: pointer;
        width: 120px;
        height: 48px;
        padding: 8px 16px;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
            background: linear-gradient(90deg, #2A4FF6 0%, #A020F0 40%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
        }
    }
}
