.container{
    /* Rectangle 1207 */



}
.header{
    /* About Us */




}
.title{
/* World-Class Education */





}
.text{
    /* At AcadeMix , we're dedicated to revolutionizing education through technology. Our platform provides students with everything they need to succeed, from engaging videos to personalized tutoring and career guidance. Join us and embark on a journey towards a brighter future of learning! */


}

.span{
    background: linear-gradient(90deg, #2A4FF6 0.67%, #A020F0 99.43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.img{
   /* Capture_d_écran_2024-06-20_064956-removebg-preview 1 */


}
